# Copy this file to .env and fill in your values
# cp .env.example .env

# Google Gemini API Key
# Get yours free at: https://aistudio.google.com/apikey
GEMINI_API_KEY=AIzaSyBWsW8jHwVTv-hZx0lO6DT_R8fyhXbTteU

# Endee server URL (default: localhost Docker)
ENDEE_HOST=http://localhost:8080

# Endee auth token (leave empty if not using authentication)
ENDEE_TOKEN=
